{% extends "padre.html" %}

{% load static %}


{% block titulo %}
    <h1>Bienvenido a la pagina de estudiantes</h1>
{% endblock %}

{% block contenido_que_cambia_2 %}

    <tr>
        <td>nombre</td>
        <td>apellido</td>
        <td>email</td>
    </tr>

    {% for estudiante in estudiantes %}
    <tr>
        <td>
            {{estudiante.nombre}}
        </td>
        <td>
            {{estudiante.apellido}}
        </td>
        <td>
            {{estudiante.email}}
        </td>
    </tr>
    {% endfor %}

{% endblock %}

{% block contenido_que_cambia %}

    <section class="showcase">
        <div class="container-fluid p-2">
            <div class="row g-0">
                <div class="col-lg-4 order-lg-2 my-auto showcase-text">
                    <div id="main-container">
                        <table>
                            <tbody>
                                <form action="{% url 'buscarEstudiante' %}" method="GET">                            
                                    <input type="number" name="id" id="id" placeholder="INSERTE ID">                              
                                    <input type="submit" value="Buscar por ID">                                                                
                                </form>
                                {% if estudiantes %}                                      
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                </tr>
                            
                                {% for estudiante in estudiantes %}
                                <tr>
                                    <td>
                                        {{estudiante.id}}
                                    </td>
                                    <td>
                                        {{estudiante.nombre}}
                                    </td>
                                    <td>
                                        {{estudiante.apellido}}
                                    </td>
                                    <td>
                                        {{estudiante.email}}
                                    </td>
                                </tr>
                                {% endfor %}

                                {% else %}

                                <td>No hay ningun estudiante registrado con esa ID</td>

                                {% endif %}
                            </tbody>
                        </table>                
                    </div>
                </div>
    
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Formulario:</h2>
                    <p class="lead mb-0">Complete los campos, para agregar un entregable.</p>
                    <div id="main-container">
                        <table>
                            <form action="" method="post">
                                <table>
                                    {{ form }}
                                    {% csrf_token %}
                                </table>
                    
                                <table>
                                    <input type="submit" value="Agregar"/>
                                </table>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>    

{% endblock %}