{% extends "padre.html" %}

{% load static %}


{% block titulo %}
    <h1>Bienvenido a la pagina de profesores</h1>
{% endblock %}

{% block contenido_que_cambia %}
    <h1>Bienvenido profesores</h1>

    <table border="5">
        <form action="" method="post">
            <table border="2">
                {{ form }}
                {% csrf_token %}
            </table>

            <table border="2">
                <input type="submit" value="Agregar"/>
            </table>
        </form>

        <form action="" method="GET">
            <input type="number" placeholder="Buscar..." name="buscar" value="">
            <input type="submit" value="Buscar">
            
            {% if profesores %}

            <ul>
                {% for profesor in profesores %}
                <li> {{profesor.id}} </li>
                <li> {{profesor.nombre}} </li>
                <li> {{profesor.apellido}} </li>
                <li> {{profesor.email}} </li>
                {% endfor %}
            </ul>

            {% endif %}

        </form>

    </table>

    <table border="5">
        <thead>
            <tr>
                <td bgcolor="#00FFFF">ID</td>
                <td bgcolor="#6495ED">nombre</td>
                <td bgcolor="#00FFFF">apellido</td>
                <td bgcolor="#6495ED">email</td>
            </tr>
        </thead>
        <tbody>
            {% for profesor in profesores %}
            <tr>
                <td>
                    {{profesor.id}}
                </td>
                <td>
                    {{profesor.nombre}}
                </td>
                <td>
                    {{profesor.apellido}}
                </td>
                <td>
                    {{profesor.email}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}